<!--
    HTML - страница, содержащая приветственный текст и ссылку на страницу регистрации в библиотеке-->

<!DOCTYPE html>
<html >
<head>
    <title>online library</title>
</head>
<body style ="background-color: burlywood;">
<h1 style="font-size: 120px; font-family: serif; text-align: center">Welcome to online library</h1>
<center><img src= "resources/images/falling-books.gif" alt="lib-concept" class="" width="240" height="240"></center>
<br/>
<p style="font-size: 35px; text-align: center">
    <a href="/registration">Join us now</a>
</p>
</body>
</html>